* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.admin-page {

    body {
        background: #fff;
        font-family: $admin-text;
        margin-right: 30px;
        padding: 0;
    }
}

.logged-in {
    &.admin {
        body {
            margin-right: 30px;
        }
    }
}

.admin-wrapper {
    font-family: $admin-text;
    color: $admin-dark;
    padding: 20px;

    @include breakpoint(tablet) {
        display: flex;
        padding: 0;
    }

    h1 {
        font-family: $admin-text;
        font-size: 28px;
        font-weight: normal;
        padding: 30px 0;
        margin: 0;
    }
}

.admin-body {
    background-color: #f5f5f5;

    .admin-content {
        max-width: 680px;
        margin: 20px auto;
    }

    p {
        padding: 0 0 30px;
        line-height: 1.6;
    }

    @include breakpoint(tablet) {
        flex: 4;
    }
}

.admin-sidebar {
    min-height: 100vh;
    padding: 20px;
    flex: 1;
    background-color: $admin-dark;
}