@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-light-webfont.woff");
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-lightitalic-webfont.woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-regular-webfont.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-italic-webfont.woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto-bold-webfont.woff");
    font-weight: bold;
}

$text: 'Roboto', sans-serif;
