p {
    font-size: 14px;
}

.nb-img-grid {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    text-align: center;

    img {
        margin-bottom: 10px;
        max-width: 100%;
    }
}

.small-screen {

    .nb-img-grid {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.nb-form {

    input {
        &[type="text"],
        &[type="email"],
        &[type="number"],
        &[type="password"],
        &[type="search"],
        &[type="date"] {
            font-family: $text;
            font-size: 14px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 32px;
            padding: 6px 10px;
            width: 100%;
            margin: 5px 0 20px;
            vertical-align: top;
        }

        &[type="submit"] {
            font-family: $text;
            font-size: 14px;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 32px;
            border-radius: 4px;
            color: #fff;
            background-color: $green;
            padding: 0 20px;
            border: none;
            margin: 5px 5px 20px 0;
            vertical-align: top;
        }

        &:focus {
            outline: 0;
        }
    }

    select {
        ont-family: $text;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 32px;
        padding: 6px 10px;
        width: 100%;
        margin: 5px 0 20px;
        background-image: url('../img/down.svg');
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 10px 5px;
        vertical-align: top;
    }

    label {
        font-size: 11px;
        text-transform: uppercase;
        font-family: $text;
        display: block;
        width: 100%;
    }

    .label-inline {
        display: inline-block;
        font-weight: normal;
        margin: 0 5px 20px 0;
    }

    .medium-editor-element {
        font-family: $text;
        font-size: 14px;
        min-height: 96px;
        border: 1px solid #ccc;
        box-shadow: none;
        background-color: transparent;
        border-radius: 4px;
        padding: 6px 10px;
        width: 100%;
        margin: 5px 0 20px;
    }

    .editor {
        &.img-wrapper {
            margin: 5px 0 20px;

            img {
                max-width: 400px;
                max-height: 400px;
            }
        }
    }

}

.nb-button {
    font-family: $text;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    color: #fff;
    background-color: $green;
    padding: 0 20px;
    border: none;
    margin: 5px 5px 10px 0;
    display: inline-block;
}
