p {
    font-size: 14px;
}

* {
    &:focus {
        outline: none;
    }
}

.nb-img-grid {
    line-height: 0;
    column-count: 3;
    column-gap: 10px;
    text-align: center;

    img {
        margin-bottom: 10px;
        max-width: 100%;
    }
}

.small-screen {

    .nb-img-grid {
        column-count: 2;
    }
}

.nb-form {
    max-width: 680px;

    input {
        &[type="text"],
        &[type="email"],
        &[type="number"],
        &[type="password"],
        &[type="search"],
        &[type="date"] {
            font-family: $admin-text;
            font-size: 14px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            height: 32px;
            padding: 0 10px;
            width: 100%;
            margin: 5px 0 20px;
            vertical-align: top;
            transition: border 0.1s linear;
        }

        &:focus {
            border: 1px solid $admin-blue;
        }
    }

    select {
        font-family: $admin-text;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        height: 32px;
        padding: 6px 10px;
        width: 100%;
        margin: 5px 0 20px;
        background-image: url('../img/down.svg');
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 10px 5px;
        vertical-align: top;
    }

    label {
        font-size: 11px;
        text-transform: uppercase;
        font-family: $admin-text;
        display: block;
        width: 100%;

        &.nb-close {
            display: none;
        }
    }

    .label-inline {
        display: inline-block;
        font-weight: normal;
        margin: 0 5px 20px 0;
    }

    .medium-editor-element {
        font-family: $admin-text;
        font-size: 14px;
        min-height: 96px;
        border: 1px solid #e6e6e6;
        box-shadow: none;
        background-color: #fff;
        border-radius: 4px;
        padding: 6px 10px;
        width: 100%;
        margin: 5px 0 20px;

        &:focus {
            border: 1px solid $admin-blue;
        }
    }

    .editor {

        &.img-wrapper {
            margin: 5px 0 20px;

            img {
                max-width: 400px;
                max-height: 400px;
            }
        }
    }

    .nb-gallery-field {
        margin: 5px 0px 20px 0px;
        margin: 5px 0px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 136px;

        .editor.img-wrapper {
            margin: 0;
            background: #ccc;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    .nb-actions {
        width: 100%;
        padding: 5px;
        background-color: #efefef;
        border-radius: 5px;
        border: 1px solid #e6e6e6;

        .nb-button,
        input[type="submit"] {
            margin: 0 5px 0 0;
        }
    }
}

.nb-button,
input[type="submit"] {
    font-family: $admin-text;
    font-size: 14px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    color: #fff !important;
    background-color: $admin-blue;
    padding: 0 20px;
    border: none;
    margin: 5px 5px 10px 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &.green {
        background-color: $admin-green;
    }

    &.delete {
        background-color: $admin-red;
    }

    &.icon-button {
        width: 32px;
        padding: 0;
        border-radius: 16px;
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }

    &.edit {
        background-image: url('../img/icon-edit.svg')
    }

    &.delete {
        background-image: url('../img/icon-delete.svg')
    }
}

td,
th {
    .nb-button {
        margin: 0 5px 0 0;
    }
}

.login-container {
    width: 350px;
    margin: 40px auto 80px;
    border-radius: 6px;
    padding: 40px;
    border-right: 30px solid #0073e1;
    background-color: #fff;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.25);
    position: relative;

    h1 {
        padding: 0 0 30px;
    }

    .nimbly-logo {
        position: absolute;
        z-index: 2000;
        bottom: 40px;
        right: -50px;
        height: 24px;
        width: auto;
        transform: rotate(90deg);
    }
}