.nb-icon {
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.nb-icon-close {
    background-image: url('../img/icon-close-dark.svg');
}

.nb-icon-edit {
    background-image: url('../img/icon-edit-white.svg');
}

.nb-icon-admin {
    background-image: url('../img/icon-gear-white.svg');
}

[data-close], 
[data-open], 
[data-toggle], 
[data-delete], 
[data-push],
[data-post], 
[data-put], 
[data-link],
[data-onclick],
[data-get] {
    cursor: pointer;
}