.nb-icon {
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.nb-icon-close {
    background-image: url('../img/icon-close-dark.svg');
}

.nb-icon-edit {
    background-image: url('../img/icon-edit-white.svg');
}

.nb-icon-admin {
    background-image: url('../img/icon-gear-white.svg');
}

.nb-icon-up {
    background-image: url('../img/icon-up-white.svg');
}

.nb-icon-down {
    background-image: url('../img/icon-down-white.svg');
}

.nb-icon-facebook {
    background-image: url('../img/icon-facebook.svg');
    background-color: #3C5A99 !important;
    min-width: 200px;
}

.nb-icon-twitter {
    background-image: url('../img/icon-twitter.svg');
    background-color: #00aced !important;
    min-width: 200px;
}

.nb-icon-google {
    background-image: url('../img/icon-google.svg');
    background-color: #4285F4 !important;
    min-width: 200px;
}

.nb-icon-btn {
    padding: 0 20px 0 36px;
    background-position: left 7px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: auto;
}

[data-close], 
[data-open], 
[data-toggle], 
[data-delete], 
[data-push],
[data-post], 
[data-put], 
[data-link],
[data-onclick],
[data-get] {
    cursor: pointer;
}

.nb-sortable {
    cursor: move;
}