[contenteditable=true], .editor.img-wrapper {
  background-color: #0074d93b;
}

.uploader.img-wrapper, .editor.img-wrapper {
    display: inline-block;
    overflow: hidden;
    background: #eee;
    position: relative;
    width: 100%;
}

.editor.img-wrapper {
    background: inherit;
    line-height: 0;
    min-width: 80px;
    min-height: 80px;
}

.uploader.img-wrapper img {
    vertical-align: middle;
    cursor: pointer;
}

.uploader {
    a.clear-img-icon {
        top: 6px;
        z-index: 1000;
    }
}

.progress-bar-bg, .progress-bar, .progress-bar-text {
    position: absolute;
    top: 0;
    width: 100%;
    background: #ddd;
    opacity: .7;
    height: 20px;
    line-height: 20px;
    text-align: center;
    z-index: 498;
}

.progress-bar-text {
    background: none;
    z-index: 500;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.progress-bar-bg .progress-bar {
    background: $admin-green;
    top: 0;
    width: 0%;
    opacity: 1;
    z-index: 499;
}

.nb-img-grid[data-select] img { border: 1px solid transparent; }
.nb-img-grid[data-select] img.selected { border: 1px solid $admin-dark;  }

a.edit-img-icon, a.clear-img-icon {
    position: absolute;
    right: 5px;
}

a.edit-img-icon {
    top: 5px;
}

a.clear-img-icon {
    top: 44px;
}

a.editor.add-img-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    opacity: .8;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: none;
    background-color: $admin-blue;
    border-radius: 15px;
}

.editor.editor-active.img-insert a.editor.add-img-icon { display: block; }

.editor.img-insert { position: relative; }

/*
 * Style medium toolbar buttons
 */

.medium-toolbar-arrow-under:after {
    top: 40px;
    border-color: $admin-dark transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
    top: -8px;
    border-color: transparent transparent $admin-dark transparent;
}

.medium-editor-toolbar { 
    background-color: $admin-dark;
    border-radius: 4px;
    box-shadow: 0px 5px 15px #0000004f;

    li {
        padding: 0;

        button {
            min-width: 40px;
            height: 40px;
            border: none;
            line-height: 10px !important;
            border-right: 1px solid rgba(0,0,0,0.2);
            background-color: transparent;
            color: #fff;
            transition: background-color .2s ease-in, color .2s ease-in;

            &:hover {
                background-color: $admin-light;
                color: #fff;
            }
        }

        .medium-editor-button-active {
            background-color: $admin-light;
            color: #fff;
        }

        .medium-editor-button-last {
            border-right: none;
        }
    }
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 40px;
  background: $admin-dark;
  color: #fff; }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form a { color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: $admin-dark;
  color: #fff;
}

.medium-editor-placeholder:after { color: $admin-dark; }
