#off-left-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #fff;
}

.mobile-menu {
    padding: 20px;
}

.nb-menu {
    margin-bottom: 20px;
    border-bottom: 1px solid $admin-medium;
    padding: 0 0 20px;
    font-family: 'helvetica', sans-serif;

    li {
        list-style-type: none;
        margin: 0;
        font-family: 'helvetica', sans-serif;

        a {
            display: block;
            color: #fff;
            width: 100%;
            line-height: 30px;
            padding: 10px 20px;
            text-decoration: none;
        }
    }
}