#off-left-panel {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100vh;
    background: #fff;
    z-index: 10000;
    box-shadow: 10px 0px 15px 0px rgba(0,0,0,0.2);
    transition: left 0.3s ease;

    &.nb-close {
        left: -300px;
    }

    &.nb-open {
        left: 0;
    }
}

.mobile-menu {
    padding: 20px;

    li {
        padding-bottom: 20px;
    }
}

.nb-menu {
    margin-bottom: 20px;
    border-bottom: 1px solid $admin-medium;
    padding: 0 0 20px;
    font-family: 'helvetica', sans-serif;

    li {
        list-style-type: none;
        margin: 0;
        font-family: 'helvetica', sans-serif;

        a {
            display: block;
            color: #fff;
            width: 100%;
            line-height: 30px;
            padding: 10px 20px;
            text-decoration: none;
        }
    }
}