ul.nb-menu {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,0.20);
    padding: 0;
}

ul.nb-menu.light { border-bottom: 1px solid rgba(255,255,255,0.20); }

ul.nb-menu li {
    list-style-type: none;
    margin: 0;
}

ul.nb-menu li a, ul.nb-menu li.caption {
    display: block;
    width: 100%;
    line-height: 30px;
    padding: 10px 20px;
    text-decoration: none;
}

ul.nb-menu.light li a {
    color: white;
    background: [primary-color];
}

ul.nb-menu.horizontal { border-bottom: 0; }

ul.nb-menu.horizontal li { display: inline-block; }

ul.nb-menu.horizontal li:last-child a { padding-right: 0; }

ul.nb-menu.horizontal li:first-child a { padding-left: 0; }
