#off-left-panel {
    position: absolute;
    display: block !important;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10000;
    box-shadow: 10px 0px 15px 0px rgba(0,0,0,0.2);
    transition: width 0.15s ease;
    overflow: hidden;

    &.nb-close {
        width: 0;
        height: 0;
    }

    &.nb-open {
        width: 300px;
        height: 100vh;

        .site-menu {
            opacity: 1;
        }
    }

    .menu-closer {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        display: block;
        background-image: url('../img/icon-close-dark.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
    }
}

.site-menu {
    padding: 20px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;

    li {
        padding-bottom: 20px;
    }
}

header {
    .site-menu {
        display: none;
    }

    @include breakpoint(tablet) {
        .site-menu {
            opacity: 1;
            display: unset;
        }
    }
}

.nb-menu {
    margin-bottom: 20px;
    border-bottom: 1px solid $admin-medium;
    padding: 0 0 20px;
    font-family: 'helvetica', sans-serif;

    li {
        list-style-type: none;
        margin: 0;
        font-family: 'helvetica', sans-serif;

        a {
            display: block;
            color: #fff;
            width: 100%;
            line-height: 30px;
            padding: 0 20px;
            text-decoration: none;
        }
    }
}

.admin-menu {

    .nb-menu {
        margin-bottom: 0;
        padding: 20px;

        li {
            a {
                color: $admin-dark;
            }
        }
    }
}