#nimblybar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    background: $admin-blue;
    z-index: 1000;

    .nb-icon {
        margin: 4px 0 0;
    }

    .nimbly-logo {
        position: fixed;
        z-index: 2000;
        bottom: 80px;
        right: -20px;
        height: 24px;
        width: auto;
        transform: rotate(90deg);

        @include breakpoint(tablet) {
            bottom: 40px;
        }
    }
}
