.nb-callout,
.nb-notification {
    position: absolute;
    right: 0;
    background: #fffdcf;
    padding: 10px;
    line-height: 1.6;
    box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 330px;
    margin: 20px;
}
