.nb-table  {
    border-spacing: 0;
    width: 100%;
    font-family: 'helvetica', sans-serif;
    
    td,
    th {
        border-bottom: 1px solid #ddd;
        padding: 12px 15px;
        text-align: left;
        font-family: 'helvetica', sans-serif;

        &:first-child {
            padding-left: 0; 
        }

        &:last-child {
            padding-right: 0; 
        }
    }
}
