#top-bar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: $dark;
    z-index: 1000;

    + div,
    + section
    + .nb-container {
        margin-top: 36px;
    }

    .nimbly-logo {
        height: 24px;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }

    .icon {
        margin: 0;
        margin-top: 4px;
        &:hover {
            opacity: .6;
        }
    }

    .icon-home {
        background-image: url('../img/icon-home-white.svg');
    }

    .icon-edit {
        background-image: url('../img/icon-edit-white.svg');
    }

    .icon-gear {
        background-image: url('../img/icon-gear-white.svg');
        background-size: 22px 22px;
    }
}
