p {
  font-size: 14px; }

.nb-img-grid {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  text-align: center; }
  .nb-img-grid img {
    margin-bottom: 10px; }

.small-screen .nb-img-grid {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.nb-form input[type="text"], .nb-form input[type="email"], .nb-form input[type="number"], .nb-form input[type="password"], .nb-form input[type="search"], .nb-form input[type="date"] {
  font-family: 'helvetica', sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 32px;
  padding: 6px 10px;
  width: 100%;
  margin: 5px 0 20px; }
.nb-form input[type="submit"] {
  font-family: 'helvetica', sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 32px;
  border-radius: 4px;
  color: #fff;
  background-color: #338e2d;
  padding: 0 20px;
  border: none;
  margin: 5px 5px 20px 0; }
.nb-form input:focus {
  outline: 0; }
.nb-form label {
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'helvetica', sans-serif;
  display: block;
  width: 100%; }
.nb-form .label-inline {
  display: inline-block;
  font-weight: normal;
  margin: 0 5px 20px 0; }
.nb-form .medium-editor-element {
  font-family: 'helvetica', sans-serif;
  font-size: 14px;
  min-height: 96px;
  border: 1px solid #ccc;
  box-shadow: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 6px 10px;
  width: 100%;
  margin: 5px 0 20px; }

.nb-button {
  font-family: 'helvetica', sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  color: #fff;
  background-color: #338e2d;
  padding: 0 20px;
  border: none;
  margin: 5px 5px 10px 0;
  display: inline-block; }

.icon,
.icon-nav,
.icon-gear,
.icon-edit {
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 36px;
  vertical-align: middle; }

[data-close],
[data-open],
[data-toggle],
[data-delete],
[data-post],
[data-put],
[data-get] {
  cursor: pointer; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.scroll-h {
  overflow-x: auto; }

.nb-open {
  display: inherit; }

.nb-close, div.nb-close, li.nb-close, ul.nb-close {
  display: none; }

.medium-screen .only-sm, .large-screen .only-sm {
  display: none; }

.small-screen .only-md, .large-screen .only-md {
  display: none; }

.small-screen .only-lg, .medium-screen .only-lg {
  display: none; }

.large-screen .only-lg {
  display: inherit; }

.medium-screen .only-md {
  display: inherit; }

.small-screen .only-sm {
  display: inherit; }

.small {
  font-size: 10px; }

.align-right {
  text-align: right; }

.align-center, .center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-justify {
  text-align: justify; }

.nb-40 {
  width: 40% !important; }

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  #modal.nb-close {
    display: none; }

#modal-content {
  max-width: 680px;
  min-width: 480px;
  background: white;
  height: 100%;
  padding: 50px 10px 10px 10px;
  position: relative;
  border-radius: 4px; }
  #modal-content .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer; }
  #modal-content .modal-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase; }
  #modal-content .modal-content {
    overflow-y: auto;
    height: 100%; }

.small-screen #modal-content {
  min-width: 100%; }

#off-left-panel,
#off-right-panel {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  bottom: 0;
  background-color: #b4b4b4;
  overflow-x: hidden;
  transition: width 0.1s;
  transition-timing-function: ease-in-out;
  width: 0;
  display: block; }

.user #off-left-panel,
.user #off-right-panel {
  top: 36px;
  z-index: 1000; }

#off-right-panel {
  right: 0;
  left: auto; }

#off-left-panel.nb-open,
#off-right-panel.nb-open {
  width: 300px; }

#off-left-panel.nb-close,
#off-right-panel.nb-close {
  width: 0;
  display: block; }

#page-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; }

#page {
  transition: margin-left 0.3s;
  transition-timing-function: ease-in-out;
  width: 100%; }

#page-wrapper.push-right #page {
  margin-left: 300px; }

.nb-container {
  max-width: 1200px;
  margin: 0 auto; }
  .nb-container h2,
  .nb-container h1 {
    font-family: 'helvetica', sans-serif;
    padding: 20px 0;
    font-size: 24px; }

#top-bar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: #6b6b6b;
  z-index: 1000; }
  #top-bar-fixed + div,
  #top-bar-fixed + section
  + .nb-container {
    margin-top: 36px; }
  #top-bar-fixed .nimbly-logo {
    padding: 8px 20px 8px 5px;
    height: 36px;
    width: auto;
    display: inline-block;
    vertical-align: middle; }
  #top-bar-fixed .icon {
    margin: 0; }
  #top-bar-fixed .icon-home {
    background-image: url("../img/icon-home-white.svg");
    vertical-align: middle; }
  #top-bar-fixed .icon-edit {
    background-image: url("../img/icon-edit-white.svg"); }
  #top-bar-fixed .icon-gear {
    background-image: url("../img/icon-gear-white.svg"); }

ul.nb-menu {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0; }

ul.nb-menu.light {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

ul.nb-menu li {
  list-style-type: none;
  margin: 0; }

ul.nb-menu li a, ul.nb-menu li.caption {
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 10px 20px;
  text-decoration: none; }

ul.nb-menu.light li a {
  color: white;
  background: [primary-color]; }

ul.nb-menu.horizontal {
  border-bottom: 0; }

ul.nb-menu.horizontal li {
  display: inline-block; }

ul.nb-menu.horizontal li:last-child a {
  padding-right: 0; }

ul.nb-menu.horizontal li:first-child a {
  padding-left: 0; }

[contenteditable=true], .editor.img-wrapper {
  box-shadow: 0 0 0 1px rgba(107, 107, 107, 0.2);
  background-color: rgba(107, 107, 107, 0.1); }

.uploader.img-wrapper, .editor.img-wrapper {
  display: inline-block;
  overflow: hidden;
  background: #eee;
  position: relative; }

.editor.img-wrapper {
  background: inherit;
  line-height: 0;
  min-width: 30px;
  min-height: 30px; }

.uploader.img-wrapper img {
  vertical-align: middle;
  cursor: pointer; }

.progress-bar-bg, .progress-bar, .progress-bar-text {
  position: absolute;
  top: 40%;
  width: 100%;
  background: #ddd;
  opacity: .7;
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 498; }

.progress-bar-text {
  background: none;
  z-index: 500;
  color: white;
  font-size: 12px;
  text-transform: uppercase; }

.progress-bar-bg .progress-bar {
  background: #6b6b6b;
  top: 0;
  width: 0%;
  opacity: 1;
  z-index: 499; }

.nb-img-grid[data-select] img {
  border: 1px solid transparent; }

.nb-img-grid[data-select] img.selected {
  border: 1px solid #6b6b6b; }

a.edit-img-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  background: #6b6b6b;
  opacity: .8;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 700; }

a.editor.add-img-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -30px;
  opacity: .8;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: none; }

.editor.editor-active.img-insert a.editor.add-img-icon {
  display: block; }

.editor.img-insert {
  position: relative; }

/*
 * Style medium toolbar buttons
 */
.medium-toolbar-arrow-under:after {
  top: 40px;
  border-color: #6b6b6b transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #6b6b6b transparent; }

.medium-editor-toolbar {
  background-color: #6b6b6b; }

.medium-editor-toolbar li {
  padding: 0; }

.medium-editor-toolbar li button {
  min-width: 40px;
  height: 40px;
  border: none;
  line-height: 10px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: #fff;
  -webkit-transition: background-color .2s ease-in, color .2s ease-in;
  transition: background-color .2s ease-in, color .2s ease-in; }

.medium-editor-toolbar li button:hover {
  background-color: #b4b4b4;
  color: #fff; }

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #b4b4b4;
  color: #fff; }

.medium-editor-toolbar li .medium-editor-button-last {
  border-right: none; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 40px;
  background: #6b6b6b;
  color: #fff; }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #6b6b6b;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #6b6b6b; }

table.nb-table {
  border-spacing: 0;
  width: 100%; }

table.nb-table td, table.nb-table th {
  border-bottom: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left; }

table.nb-table td:first-child, table.nb-table th:first-child {
  padding-left: 0; }

table.nb-table td:last-child, table.nb-table th:last-child {
  padding-right: 0; }

/*# sourceMappingURL=style.css.map */
